    <!-- left navigation -->
    <div class="col-2" id="left-nav">
      <a href="#" class="list-group-item list-group-item-action active"><i class="fas fa-chart-line"></i>Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-balance-scale"></i>Buy/Sell</a>
      <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-book"></i>Accounts</a>
      <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-toolbox"></i>Tools</a>
      <a href="#" class="list-group-item list-group-item-action disabled"><i class="fas fa-cogs"></i>Settings</a>
    </div>
