<!-- top navigation -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/dashboard" id="brand-logo">Cryptofolio</a>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span id="email"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="/dashboard">Dashboard</a>
      <a class="dropdown-item" href="/trade">Buy/Sell</a>
      <a class="dropdown-item" href="/settings">Settings</a>
      <a class="dropdown-item disabled" href="#">Logout</a>
    </div>
  </div>
</nav>
