<!-- below top navigation -->
<div class="container-fluid">
  <div class="row">

    {{> left-nav}}

    <!-- Modal content-->
    <div id="myModal" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
              <h3>Login</h3>
          </div>
          <div class="modal-body">
            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
              <div class="form-group">
                <a href="" class="float-right">New user?</a>
                <label for="user-email">Email</label>
                <input type="text" class="form-control form-control-lg" name="user-email" id="user-email" required="">
                <div class="invalid-feedback">Oops, you missed this one.</div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control form-control-lg" id="password" required="" autocomplete="new-password">
                <div class="invalid-feedback">Enter your password too!</div>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="rememberMe">
                <label class="custom-control-label" for="rememberMe">Remember me on this computer</label>
              </div>
              <div class="form-group py-4">
                <button type="submit" class="btn btn-primary btn-lg float-right" id="submit-login-btn">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- main content area -->
    <div class="col-10" id="main-content-area">
      <div class="row">
        <div class="col-sm-6">
          <div class="card" id="price-card">
            <div class="card-header text-primary">
              Price Chart
            </div>
            <div class="btn-toolbar" id="coin-buttons">
              <button type="button" class="btn btn-primary btn-sm active coin-button" data-button="BTC">BTC</button>
              <button type="button" class="btn btn-primary btn-sm coin-button" data-button="ETH">ETH</button>
              <button type="button" class="btn btn-primary btn-sm coin-button" data-button="LTC">LTC</button>
              <button type="button" class="btn btn-primary btn-sm coin-button" data-button="XRP">XRP</button>
              <button type="button" class="btn btn-primary btn-sm coin-button" data-button="XMR">XMR</button>
            </div>
            <canvas id="seven-day-performance" width="400" height="300"></canvas>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" id="portfolio-card">
            <div class="card-header text-primary">
              Portfolio
            </div>
            <div class="container">
              <div class="row porfolio-pie">
                <div class="col-md-6 balance-section">
                </div> 
                <div class="col-md-6 chart-section">
                  <canvas id="holdings-doughnut-chart" width="50" height="50"></canvas>
                </div> 
              </div>
            </div>
            <div id="partial-coin-snapshot">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card" id="transaction-card">
            <div class="card-header text-primary">
              Recent Transactions
            </div>
            <div id="transaction-list">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" id="news-feed">
            <div class="card-header text-primary">
              Latest News
            </div>
            <ul class="list-group list-group-flush">
              {{#each newsFeed}}
                <li class="list-group-item">
                  <img src="{{imageUrl}}"></img>
                  <a href="{{link}}">{{title}}</a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="js/vendor/moment-with-locales.min.js"></script>
<script src="js/index.js"></script>
