 <div class="container">
  <div class="card text-white bg-primary mb-3" id="signin-card">
    <div class="card-header">
        <h3 class="card-title">Sign In</h3>
    </div>
    <div class="card-body text-dark bg-light">
      <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="user-email-addon"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="User Email" id="user-email">
        </div>
      </div>           
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text" id="password-addon"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="Password" id="password">
        </div>
      </div>    
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="submit-login-btn">Log In</button>
        <span id="error-message"></span>
      </div> 
    </div>
  </div>
</div>
  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="js/signin.js"></script>
