{{> top-nav}}

<!-- below top navigation -->

<div class="col-10" id="main-content-area">
  <div class="row">
    <div class="card" id="register-card">
      <div class="card-header text-primary">
        <h5>Register</h5>
      </div>
      <div class="card-body">
        <p>Create your account</p>
        <hr>
        <div id="register-content">
          <form autocomplete="off">
            <div class="form-group">
              <label for="input-first-name">First Name</label>
              <input type="text" class="form-control" id="input-first-name" placeholder="John">
            </div>
            <div class="form-group">
              <label for="input-last-name">Last Name</label>
              <input type="text" class="form-control" id="input-last-name" placeholder="Doe">
            </div>
            <div class="form-group">
              <label for="input-email">Email address</label>
              <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="input-password">Password</label>
              <input type="password" class="form-control" id="input-password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
          </form>
          </div>
      </div>
    </div>
  </div>
</div>
        
<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script src="js/register.js"></script>
