{{> top-nav}}

<!-- below top navigation -->
<div class="container-fluid">
  <div class="row">

    {{> left-nav}}

    <!-- Modal content-->
    <div id="changeModal" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Change Password</h3>
          </div>
          <div class="modal-body">
            <form class="needs-validation" novalidate>
              <div class="form-row">
                <div class="col-sm-12 mb-3">
                  <label for="current-password-1">Enter your current password</label>
                  <input type="password" class="form-control" id="current-password" placeholder="Current password" required>
                  <div class="invalid-feedback">
                    Please enter your current password
                  </div>
                </div>
                <div class="col-sm-12 mb-3">
                  <label for="new-password-1">Enter your new password</label>
                  <input type="password" class="form-control" id="new-password-1" placeholder="New password" required>
                  <div class="invalid-feedback">
                    Please enter your new password
                  </div>
                </div>
                <div class="col-sm-12 mb-3">
                  <label for="new-password-2">Re-enter your new password</label>
                  <input type="password" class="form-control" id="new-password-2" placeholder="New password" required>
                  <div class="invalid-feedback">
                    Please re-enter your new password
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" type="submit" id="change-password">Change Password</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              <span id="error-message"></span>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- main content area -->
    <div class="col-10" id="main-content-area">
      <div class="row">
        <div class="col-sm-12">
          <div class="card" id="price-card">
            <div class="card-header text-primary">
              Settings
            </div>
              <ul id="settings-tab" class="list-unstyled">
                <ul class="nav justify-content-left">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Preferences</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Security</a>
                  </li>
                </ul>
                {{!-- <li><a href="#">Profile</a></li>
                <li><a href="#" class="disabled">Preferences</a></li>
                <li><a href="#" class="disabled">Security</a></li> --}}
              </ul>           
          
            <div class="card-body">
              <p>User Profile</p>
              <hr>
              <div id="settings-content">
                <div id="profile">
                  <img width="200" height="200" id="profile-image" src="https://images.coinbase.com/avatar?h=593c876979b72e08719f99zbrDd19uu%2F9EaYATIxzvbexzod0OEgjoiZdk3d%0AcSJX&amp;s=150" alt="Avatar?h=593c876979b72e08719f99zbrdd19uu%2f9eayatixzvbexzod0oegjoizdk3d%0acsjx&amp;s=150">
                  <div id="profile-detail">
                    <p>User name:</p>
                    <p>Account created:</p>
                    <a href="#change_password_modal" data-toggle="modal" data-target="#changeModal" class="btn btn-primary">Change Password</a>
                  </div>
                </div>

 
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script src="js/settings.js"></script>
<script src="js/utils.js"></script>

