<!-- top navigation -->
<nav class="navbar navbar-dark bg-primary">
  <div class="navbar-header">
    <a class="navbar-brand" href="#" id="brand-logo">Cryptofolio</a>
  </div>
</nav>

<!-- below top navigation -->
<div class="container-fluid">
  <div class="row">

    <!-- left navigation -->
    <div class="col-2" id="left-nav">
      <a href="#" class="list-group-item list-group-item-action active"><i class="fas fa-chart-line"></i>Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-balance-scale"></i>Buy/Sell</a>
      <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-book"></i>Accounts</a>
      <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-toolbox"></i>Tools</a>
      <a href="#" class="list-group-item list-group-item-action disabled"><i class="fas fa-cogs"></i>Settings</a>
    </div>

    <!-- main content area -->
    <div class="col-10" id="main-content-area">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header text-primary">
              Price Chart
            </div>
            <div class="btn-toolbar" id="coin-buttons">
              <button type="button" class="btn btn-primary btn-sm active coin-button" data-button="BTC">BTC</button>
              <button type="button" class="btn btn-primary btn-sm coin-button" data-button="ETH">ETH</button>
              <button type="button" class="btn btn-primary btn-sm coin-button" data-button="LTC">LTC</button>
              <button type="button" class="btn btn-primary btn-sm coin-button" data-button="XRP">XRP</button>
              <button type="button" class="btn btn-primary btn-sm coin-button" data-button="XMR">XMR</button>
            </div>
            <canvas id="seven-day-performance" width="400" height="300"></canvas>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header text-primary">
              Portfolio
            </div>
            <div class="balance-container">
              <h2>$</h2>
              <p>Total Balance</p>
            </div>
            <div class="coins-owned">

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header text-primary">
              Recent Transactions
            </div>
            <ul class="list-group list-group-flush">

            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" id="news-feed">
            <div class="card-header text-primary">
              Latest News
            </div>
            <ul class="list-group list-group-flush">

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <script src="js/moment-with-locales.min.js"></script>
  <script src="js/index.js"></script>
