/***** Side Navigation *****/
#left-nav {
  min-height: 100vh;
  border-right: solid 1px lightgrey;
}

#left-nav a {
  list-style-type: none;
  margin-top: 2vh;
}

#bootstrap-overrides .list-group-item .fas {
  margin-right: 10px;
}

/***** Main Content Area *****/
#bootstrap-overrides #main-content-area .row {
  margin-top: 2vh;
  min-height: 40vh;
}

#bootstrap-overrides #main-content-area .card {
  margin-top: 2vh;
  min-height: 100%;
  margin: 0 auto;
}

#news-feed ul {
  max-height: 45vh;
  overflow: scroll;
  overflow-x: hidden;
}

#news-feed img {
  width: 50px;
}

#coin-buttons button {
  margin: 13px 5px 5px 5px;
}

/***** Signin Page *****/
#signin-card {
  margin: 0 auto;
  margin-top: 15vh;
  height: 25vh;
  width: 60vh;
}
#error-message {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

/***** Trade *****/
#trade {
  max-width: 80%;
  margin: 0 auto;
}
#trade #coin-buttons {
  margin-bottom: 10px;
}

